<!DOCTYPE html>
<html>
<head>
  <title>Integration</title>
  <%= stylesheet_link_tag    "integration/application", :media => "all" %>
  <%= javascript_include_tag "integration/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
