<span page-title ng-model="job">{{ 'Job: ' | translate }}{{ job.name }}</span>

<div class="row">
    <div class="col-sm-5">
      <a href="" ui-sref="jobs.details.environments.from-environment({jobId: job.id})">
      <i class="fa fa-angle-double-left"></i>
      {{ "Back" | translate }}
      </a>
    </div>
</div>
<h4 translate>Lifecycle Environment selection: select target environment</h4>
<section class="nutupane-sub-section"> 
  
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <div class="loading-mask loading-mask-panel" ng-show="loading">
    <i class="fa fa-spinner fa-spin"></i>
      {{ "Loading..." | translate }}          
  </div>


  <section ng-hide="loading || availableEnvironments.length === 0">
    <span path-selector="availableEnvironments"
              ng-model="toEnvironments"
              disabled="denied('edit_jobs', job)"
              disable-trigger="disableEnvironmentSelection">
    </span>

    <br/>

    <button class="btn btn-default"
            ng-hide="denied('edit_jobs')"
            ng-disabled="working"
            ng-click="setEnvironment()">
      <i class="fa fa-pencil" ng-hide="working"></i>      
      <i class="fa fa-spinner fa-spin" ng-show="working"></i>           
      <span translate>Set Environment</span>
    </button>
  </section>
  
  
  <div ng-show="availableEnvironments.length === 0" >
    <p class="alert alert-info"
       ng-hide="loading"
       translate> No Lifecycle Environments to show.
    </p>
  </div>

</section>



