<span page-title ng-model="job">{{ 'Job: ' | translate }} {{ job.name }}</span>

<div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

<div class="details fl">
  <section>
    <h4 translate>Basic information</h4>

    <div class="detail">
      <span class="info-label" translate>Name</span>
      <span class="info-value"
            bst-edit-text="job.name"
            on-save="save(job)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Manual Job runs?</span>
      <span class="info-value"
            bst-edit-checkbox="job.manual_trigger"
            readonly="denied('edit_jobs', job)"
            formatter="booleanToYesNo"
            on-save="save(job)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>CV publish/promote Job runs?</span>
      <span class="info-value"
            bst-edit-checkbox="job.levelup_trigger"
            readonly="denied('edit_jobs', job)"
            formatter="booleanToYesNo"
            on-save="save(job)">
      </span>
    </div> 

    <div class="detail">
      <span class="info-label" translate>Repo sync Job runs?</span>
      <span class="info-value"
            bst-edit-checkbox="job.sync_trigger"
            readonly="denied('edit_jobs', job)"
            formatter="booleanToYesNo"
            on-save="save(job)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>CV promotions?</span>
      <span class="info-value"
            bst-edit-checkbox="job.promote"
            readonly="denied('edit_jobs', job)"
            formatter="booleanToYesNo"
            on-save="save(job)">
      </span>
    </div> 
 

  </section>
</div>

<div class="details fr">
  <section >
    <h4 translate>Job Configuration Check</h4>

    <div class="detail">
      <span class="info-label" translate>Content View?</span>
      <span class="info-value">
        <i class="fa fa-remove " ng-hide="job.content_view"></i>
        <i class="fa fa-ok" ng-show="job.content_view"></i>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Hostgroup?</span>
      <span class="info-value">
        <i class="fa fa-remove" ng-hide="job.hostgroup"></i>
        <i class="fa fa-ok" ng-show="job.hostgroup"></i>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Compute Resource?</span>
      <span class="info-value">
        <i class="fa fa-remove" ng-hide="job.compute_resource"></i>
        <i class="fa fa-ok" ng-show="job.compute_resource"></i>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Jenkins Instance?</span>
      <span class="info-value">
        <i class="fa fa-remove" ng-hide="job.jenkins_instance"></i>
        <i class="fa fa-ok" ng-show="job.jenkins_instance"></i>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Environment?</span>
      <span class="info-value">
        <i class="fa fa-remove" ng-hide="job.environment"></i>
        <i class="fa fa-ok" ng-show="job.environment"></i>
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Jenkins User?</span>
      <span class="info-value">
        <i class="fa fa-remove" ng-hide="job.jenkins_instance.jenkins_user"></i>
        <i class="fa fa-ok" ng-show="job.jenkins_instance.jenkins_user"></i>
      </span>
    </div> 
  </section>

  <section ng-show="job.manual_trigger">
    <h4 translate>Manual Job Runs</h4>
    <div class="detail">
      <button class="btn btn-default"
              ng-disabled="!isValid || working"
              ng-click="runJob()">
        <i class="fa fa-play" ng-hide="working"></i>
        <i class="fa fa-spinner fa-spin" ng-show="working"></i>
        <span translate>Run Job</span>
      </button>
      <!-- TODO user feedback for silent job skips when target cv version not present -->
      <!-- <i class="fa fa-exclamation" ng-show="hasTarget"></i> -->
    </div>
  </section>
</div>