<span page-title ng-model="job">{{ 'Job: ' | translate }} {{ job.name }}</span>

<section class="details details-full">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <h4>
    <span translate>Current Jenkins Projects: </span>
  </h4>

  </br>

  <div class="details-header row">
    <div class="col-sm-3">
      <input type="text"
              class="form-control filter-input"
              placeholder="{{ 'Filter' | translate }}"
              ng-model="jenkinsFilter"/>
    </div>


    <div class="fr select-action">
      <button class="btn btn-default"
              ng-disabled="projectsTable.numSelected === 0 || projectsTable.working"
              ng-show="isState('jobs.details.jenkins-projects.list') && permitted('edit_jobs', job) && projectsTable.rows.length > 0"
              ng-click="removeProjects()">
      <span ng-hide="projectsTable.working">
        <i class="fa fa-minus"></i>
      </span>
      <span ng-show="projectsTable.working">
        <i class="fa fa-spinner fa-spin"></i>
      </span>
        <span translate>Remove Projects</span>
      </button>

      <button class="btn btn-default"
              ng-show="isState('jobs.details.jenkins-projects.list')
                       && permitted('edit_jobs', job)
                       && job.jenkins_instance !== null
                       && job.jenkins_user !== null"
              ui-sref="jobs.details.jenkins-projects.discovery({jobId: job.id})"
              translate>
              <i class="fa fa-eye"></i>
              Find more...
      </button>
    </div>
  </div>

  <table bst-table="projectsTable"
         class="table table-striped"
         ng-class="{'table-mask': projectsTable.working}">
    <thead>
      <tr bst-table-head row-select="jenkinsProject">
        <th bst-table-column="name" translate>Name</th>
      </tr>
    </thead>

    <tbody ng-show="projectsTable.rows.length > 0 && !projectsTable.working">
      <tr bst-table-row ng-repeat="jenkinsProject in projectsTable.rows | filter:jenkinsFilter" row-select="jenkinsProject">
        <td bst-table-cell>
          <a href="" ui-sref="jobs.details.jenkins-projects.parameters({ projectId: jenkinsProject.id })">
            {{ jenkinsProject.name }}
          </a>
        </td>
      </tr>
    </tbody>
  </table>

</section>
