<span page-title ng-model="job">{{ 'Path selection fo Job:' | translate }} {{ job.name }}</span>

<h4 translate>Environment Paths selection</h4>

<div class="row">
  <div class="fr select-action">
    <button class="btn btn-default"
            ui-sref="jobs.details.to-environment.environments">
              {{ 'To Environments' | translate }}
    </button>
  </div>
</div>

<nav>
  <ul class="nav nav-tabs">
    <li ng-class="{active: isState('jobs.details.to-environment.paths.list')}">
      <a ui-sref="jobs.details.to-environment.paths.list">
        <span translate>List/Remove</span>
      </a>
    </li>

    <li ng-class="{active: isState('jobs.details.to-environment.paths.add')}"
        ng-show="permitted('edit_jobs', job)">
      <a ui-sref="jobs.details.to-environment.paths.list">
        <span translate>Add</span>
      </a>
    </li>
  </ul>
</nav>

<div ui-view></div>
