<span page-title ng-model="job">{{ 'Job: ' | translate }}{{ job.name }}</span>

<section class="nutupane-sub-section">
  <div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>
  
  <div class="loading-mask loading-mask-panel" ng-show="loading">
    <i class="icon-spinner icon-spin"></i>
      {{ "Loading..." | translate }}          
  </div>


  <section ng-hide="loading">
    <div class="row">
      <div class="fr select-action">
        <button ng-if="isState('jobs.details.to-environment.paths.add')"
                class="btn btn-default"
                ng-hide="denied('edit_jobs')"
                ng-disabled="pathsTable.working || pathsTable.numSelected === 0"
                ng-click="setPaths()">
            <i class="icon-pencil" ng-hide="pathsTable.working"></i>
            <i class="icon-spinner icon-spin" ng-show="pathsTable.working"></i>      
              {{ 'Add Paths' | translate }}
        </button>

        <button ng-if="isState('jobs.details.to-environment.paths.list')"
                class="btn btn-default"
                ng-hide="denied('edit_jobs')"
                ng-disabled="pathsTable.working || pathsTable.numSelected === 0"
                ng-click="setPaths()">
            <i class="icon-pencil" ng-hide="pathsTable.working"></i>
            <i class="icon-spinner icon-spin" ng-show="pathsTable.working"></i>      
              {{ 'Remove Paths' | translate }}
        </button>
        
      </div>
    </div>

    <div bst-table="pathsTable" class="nutupane" ng-show="pathsTable.rows.length > 0">
      <div bst-container-scroll bst-infinite-scroll="pathsTable.nextPage()">
  
        <table ng-class="{'table-mask': pathsTable.working}"
               class="table table-full table-striped">

          <thead>
            <tr bst-table-head row-select="path">
              <th bst-table-column="Environments" translate>Environments</th>
            </tr>
          </thead>

          <tbody>
            <tr bst-table-row ng-repeat="path in pathsTable.rows | filter:userFilter" row-select="path">
              
              <td bst-table-cell>
                  <span ng-repeat="environment in path">
                    {{ environment.name + ", " }}
                  </span>
              </td>

            </tr>
          </tbody>

        </table>
      </div>
    </div>
</section>