<span page-title ng-model="job">{{ 'Job: ' | translate }} {{ job.name }}</span>

<section class="nutupane-sub-section">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <h4>
    <span translate>Current Jenkins Instance: </span>
    <a ui-sref="jenkins-instances.details.info({ jenkinsInstanceId: job.jenkins_instance.id })">
      <span ng-show="job.jenkins_instance.name" ng-bind="job.jenkins_instance.name"></span>
    </a>
    <span ng-show="!job.jenkins_instance.name" translate>none</span>
  </h4>

  <br/> 

  <div ng-show="jenkinsTable.rows.length === 0">
    <div class="loading-mask loading-mask-panel" ng-show="jenkinsTable.working">
      <i class="fa fa-spinner fa-spin"></i>
        {{ "Loading..." | translate }}          
    </div>

    <p class="alert alert-info"
       ng-hide="jenkinsTable.working"
       translate> No Jenkins Instances to show.
    </p>
  </div>

  <section ng-show="jenkinsTable.rows.length > 0">
    <div class="row">
      
      <div class="col-sm-3" ng-show="jenkinsTable.rows.length > 0">
        <input type="text"
                class="form-control"  
                placeholder="{{ 'Filter' | translate }}"
                ng-model="jenkinsFilter" />
      </div>

      <div class="fr select-action">
        
        <span ng-show="jenkinsTable.rows.length > 0">
          <button class="btn btn-default"
                  ng-hide="denied('edit_jobs')"
                  ng-disabled="!jenkinsTable.chosenRow || jenkinsTable.working" 
                  ng-click="setJenkins()">
            <i class="fa fa-pencil" ng-hide="jenkinsTable.working"></i>
            <i class="fa fa-spinner fa-spin" ng-show="jenkinsTable.working"></i> 
            {{ 'Set Jenkins Instance' | translate }}
          </button>
        </span>

      </div>
    </div>

    <div bst-table="jenkinsTable" class="nutupane" ng-show="jenkinsTable.rows.length > 0">
      <div bst-container-scroll bst-infinite-scroll="jenkinsTable.nextPage()">

        <table
               ng-class="{'table-mask': jenkinsTable.working}"
               class="table table-full table-striped">

          <thead>
            <tr bst-table-head row-choice="jenkinsInstance">
              <th bst-table-column="name" translate>Name</th>
              <th bst-table-column="url" translate>URL</th>
              <th bst-table-column="user" translate>User</th>
            </tr>
          </thead>

          <tbody>
            <tr bst-table-row ng-repeat="jenkinsInstance in jenkinsTable.rows | filter:jenkinsFilter" row-choice="jenkinsInstance">
              
              <td bst-table-cell>
                <a ui-sref="jenkins-instances.details.info({ jenkinsInstanceId: jenkinsInstance.id })">
                  {{ jenkinsInstance.name }}
                </a>
              </td>

              <td bst-table-cell>{{ jenkinsInstance.url }}</td>
              <td bst-table-cell>{{ jenkinsInstance.jenkins_user.name }}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </section> 
</section>