<span page-title ng-model="job">{{ 'Job: ' | translate }} {{ job.name }}</span>

<div class="details details-full">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <h4>
    <span translate>Current Content View: </span>
    <a ui-sref="content-views.details.info({ contentViewId: job.content_view.id })">
      <span class="no-capitalize" ng-show="job.content_view.name" ng-bind="job.content_view.name"></span>
    </a>
    <span class="no-capitalize" ng-show="!job.content_view.name" translate>none</span>
  </h4>

  <br/>

  <section ng-show="cvTable.rows.length > 0">
    <div class="details-header row">

      <div class="col-sm-3">
        <input type="text"
                class="form-control"
                placeholder="{{ 'Filter' | translate }}"
                ng-model="cvFilter" />
      </div>

      <div class="fr select-action">

        <button class="btn btn-default"
                ng-hide="denied('edit_jobs')"
                ng-disabled="!cvTable.chosenRow || cvTable.working"
                ng-click="setContentView()">
          <i class="fa fa-pencil" ng-hide="cvTable.working"></i>
          <i class="fa fa-spinner fa-spin" ng-show="cvTable.working"></i>
          {{ 'Set Content View' | translate }}
        </button>

      </div>
    </div>

    <div bst-table="cvTable" class="nutupane">
      <div bst-container-scroll bst-infinite-scroll="cvTable.nextPage()">

        <table ng-class="{'table-mask': cvTable.working}" class="table table-full table-striped">
          <thead>
            <tr bst-table-head row-choice="contentView">
              <th bst-table-column="name" translate>Name</th>
              <th bst-table-column="lastPublished" translate>Last Published</th>
              <th bst-table-column="repositories" translate>Repositories</th>
            </tr>
          </thead>

          <tbody>
            <tr bst-table-row ng-repeat="contentView in cvTable.rows | filter:cvFilter" row-choice="contentView">

              <td bst-table-cell>
                <a ui-sref="content-views.details.info({ contentViewId: contentView.id })">
                  {{ contentView.name }}
                </a>
              </td>

              <td bst-table-cell>{{ contentView.last_published }}</td>
              <td bst-table-cell>{{ contentView.repositories.length }}</td>
            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </section>

  <div ng-show="cvTable.rows.length === 0">
    <div class="loading-mask loading-mask-panel" ng-show="cvTable.working">
      <i class="fa fa-spinner fa-spin"></i>
        {{ "Loading..." | translate }}
    </div>

    <p class="alert alert-info"
       ng-hide="cvTable.working"
       translate> No Content Views to show.
    </p>
  </div>

</div>