<span page-title ng-model="job">{{ 'Path selection fo Job:' | translate }} {{ job.name }}</span>

<h4 translate>Lifecycle Environment selection: Select watched environment</h4>

<div class="row">
  <div class="fr select-action">
    <button class="btn btn-default"
            ui-sref="jobs.details.environments.to-environments">
      {{ 'To Environments' | translate }}
    </button>
  </div>
</div>

<section class="nutupane-sub-section">
  <div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

  <div class="loading-mask loading-mask-panel" ng-show="loading">
    <i class="fa fa-spinner fa-spin"></i>
      {{ "Loading..." | translate }}
  </div>


  <section ng-hide="loading || environments.length === 0">
    <span path-selector="environments"
              ng-model="chosenEnvironment"
              mode="singleSelect"
              disabled="denied('edit_jobs', job)">
    </span>

    <br/>

    <button class="btn btn-default"
            ng-hide="denied('edit_jobs')"
            ng-disabled="!chosenEnvironment || working"
            ng-click="setEnvironment()">
      <i class="fa fa-pencil" ng-hide="working"></i>
      <i class="fa fa-spinner fa-spin" ng-show="working"></i>
      <span translate>Set Environment</span>
    </button>
  </section>


  <div ng-show="environments.length === 0 && !loading" >
    <p class="alert alert-info"
       ng-hide="loading"
       translate> No Lifecycle Environments to show.
    </p>
  </div>

</section>
