<span page-title ng-model="jenkinsInstance">{{ 'Jenkins Instance: ' | translate }}{{ jenkinsInstance.name }}</span>

<div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>

<div class="details fl">
  <section>
    <h4 translate>Basic information</h4>

    <div class="detail">
      <span class="info-label" translate>Name</span>
      <span class="info-value"
            bst-edit-text="jenkinsInstance.name"
            on-save="save(jenkinsInstance)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Url</span>
      <span class="info-value"
            bst-edit-text="jenkinsInstance.url"
            on-save="save(jenkinsInstance)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Jenkins Home</span>
      <span class="info-value"
            bst-edit-text="jenkinsInstance.jenkins_home"
            on-save="save(jenkinsInstance)">
      </span>
    </div>

  </section>
</div>