<section class="nutupane-details" ng-cloak bst-container-scroll>
  <header class="new-header details-header">
    <h3 class="fl" translate>New Jenkins Instance</h3>
  </header>
<div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>
<form name="jenkinsUserForm" class="form-horizontal" novalidate role="form">
  <div bst-form-group label="{{ 'Name' | translate }}">
    <input id="name"
           name="name"
           ng-model="jenkinsUser.name"
           type="text"
           tabindex="1"
           autofocus
           required/>
  </div>

  <div bst-form-group label="{{ 'Token' | translate }}">
    <input id="token"
           name="token"
           ng-model="jenkinsUser.token"
           type="password"
           tabindex="2"           
           required/>
  </div>
  <!-- <div bst-form-group>   
    <p class="alert alert-info" translate>
      Make sure to specify the port Jenkins master is running on. Example: http://jenkins.example.com:8080
    </p>     
  </div> -->

  <div bst-form-buttons
        on-cancel="transitionBack()"
        on-save="createJenkinsUser(jenkinsUser)"
        working="working">
  </div>
</form>
</section>