<table class="table table-striped" ng-class="{'table-mask': jenkinsTable.working}">
  <thead>
    <tr bst-table-head>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
    </tr>
  </thead>

  <tbody>
    <tr bst-table-row
        ng-repeat="jenkins in jenkinsTable.rows"
        active-row="stateIncludes('jenkins-instance.details', {jenkinsInstanceId: jenkins.id})">
      <td bst-table-cell>
        <a ui-sref="jenkins-instances.details.info({jenkinsInstanceId: jenkins.id})">
          {{ jenkins.name }}
        </a>
      </td>
    </tr>
  </tbody>
</table>
