<span page-title ng-model="jenkinsInstance">{{ 'Jenkins Instance: ' | translate }}{{ jenkinsInstance.name }}</span>

<div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

<div class="details fl">
  <section>
    <h4 translate>Basic information</h4>

    <div class="detail">
      <span class="info-label" translate>Name</span>
      <span class="info-value"
            bst-edit-text="jenkinsInstance.name"
            on-save="save(jenkinsInstance)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Url</span>
      <span class="info-value">{{ jenkinsInstance.url }}</span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Jenkins Home</span>
      <span class="info-value">{{ jenkinsInstance.jenkins_home }}</span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Certificate Path</span>
      <span class="info-value"
            bst-edit-text="jenkinsInstance.cert_path"
            on-save="save(jenkinsInstance)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Timeout&nbsp;
          <i class="fa fa-question-circle"
             tooltip="{{ 'Time in minutes we are willing to wait before build on Jenkins starts' | translate }}"
             tooltip-animation="false"
             tooltip-append-to-body="true">
          </i>
      </span>
      <span class="info-value"
            bst-edit-custom="jenkinsInstance.timeout"
            on-save="save(jenkinsInstance)">
        <div class="form input">
          <input ng-model="jenkinsInstance.timeout"
                 name="timeout"
                 type="number"
                 min="1"/>
        </div>
      </span>
    </div>

  </section>
</div>
<div class="fr">
  <button class="btn btn-default" ng-click="checkJenkins()" ng-disabled="working">
    <span ng-hide="working">
      <i class="fa fa-wrench"></i>
    </span>
    <span ng-show="working">
      <i class="fa fa-spinner fa-spin"></i>
    </span>
      <span translate>Jenkins reachable?</span>
  </button>
</div>