<span page-title ng-model="test">{{ 'Test: ' | translate }}{{ test.name }}</span>

<div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>

<div class="details fl">
  <section>
    <h4 translate>Basic information</h4>

    <div class="detail">
      <span class="info-label" translate>Name</span>
      <span class="info-value"
            bst-edit-text="test.name"
            on-save="save(test)">
      </span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Build Step</span>
      <span class="gpg-bst-edit info-value"
            bst-edit-textarea="test.build_step"
            on-save="save(test)">
      </span>
    </div>


  </section>

  <section class="well">
    <h4 translate>Upload Test Content</h4>

    <form role="form">
      
      <div class="control-group">
        <input type="file" name="file" id="file"/> 
      </div>

      <div class="control-group">
        <div class="control-button">
          <button class="primary"
                  ng-click="add()">
            <i class="icon-spinner icon-spin" ng-show="uploading"></i>
            <span ng-show="uploading" translate>Uploading...</span>
            <span ng-hide="uploading" translate>Upload</span>    
          </button>
        </div>
      </div>
    </form>
  </section>
</div>

<div class="advanced-info" ng-show="test.content">
  <header class="details-sub-header">
    <h4>
      <i class="expand-icon" 
         ng-class="{ 'icon-plus': !showContent, 'icon-minus': showContent}"
         ng-click="showContent = !showContent">
      </i>
      <span translate>Content</span>
    </h4>
  </header>

  <div ng-show="showContent" class="details fl">
    <p>{{ test.content }}</p>
  </div>
</div>

<!-- <div class="details fr"> -->
  
<!-- </div> -->