<span page-title ng-model="job">{{ 'Job: ' | translate }} {{ job.name }}</span>

<section class="details details-full">
  <div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>

  <h4>
    <span translate>Current Jenkins Projects: </span>
  </h4>
      
    <input type="text"
            class="form-control filter-input"  
            placeholder="{{ 'Filter' | translate }}"
            ng-model="jenkinsFilter"/>
      
      
      <span class="pull-right">
        <button class="btn btn-default"
                ng-disabled="projectsTable.numSelected === 0 || projectsTable.working"
                ng-show="isState('jobs.details.jenkins-projects.list') && permitted('edit_jobs', job) && projectsTable.rows.length > 0"
                ng-click="removeProjects()">
          <i class="icon-minus" ng-hide="projectsTable.working"></i>
          <i class="icon-spinner icon-spin" ng-show="projectsTable.working"></i>      
          <span translate>Remove Projects</span>
        </button>
        
        <button class="btn btn-default"
                ng-show="isState('jobs.details.jenkins-projects.list') && permitted('edit_jobs', job)"
                ui-sref="jobs.details.jenkins-projects.discovery({jobId: job.id})"
                translate>
                <i class="icon-eye-open"></i>
                Find more...
        </button>
      </span>  
    
      
        <table bst-table="projectsTable"
               class="table table-striped"
               ng-show="projectsTable.rows.length > 0 && !projectsTable.working"
               ng-class="{'table-mask': projectsTable.working}">
          <thead>
            <tr bst-table-head row-select="jenkinsProject">
              <th bst-table-column="name" translate>Name</th>
            </tr>
          </thead>

          <tbody>
            <tr bst-table-row ng-repeat="jenkinsProject in projectsTable.rows | filter:jenkinsFilter" row-select="jenkinsProject">
              <td bst-table-cell>
                <a href="" ui-sref="jobs.details.jenkins-projects.parameters({ projectId: jenkinsProject.id })">
                  {{ jenkinsProject.name }}
                </a>
              </td>
            </tr>
          </tbody>

        </table>   

</section>

<div ng-show="projectsTable.rows.length === 0">
        <div class="loading-mask" ng-show="projectsTable.working">
          <i class="icon-spinner icon-spin"></i>
            {{ "Loading..." | translate }}          
        </div>

        <p class="alert alert-info"
           ng-hide="projectsTable.working"
           translate> No Jenkins Projects to show.
        </p>
</div>