<span page-title ng-model="job">{{ 'Job: ' | translate }} {{ job.name }}</span>

<section class="nutupane-sub-section">
  <div bst-alert success-messages="successMessages" error-messages="errorMessages"></div>

  
    <h4>
      <span translate>Current Jenkins User: </span>
      
        <span class="no-capitalize" ng-show="job.jenkins_user.name" ng-bind="job.jenkins_user.name"></span>

      <span class="no-capitalize" ng-show="!job.jenkins_user.name" translate>none</span>
    </h4>

    </div>
  </div>

  <br/> 

  <section>
    <div class="row">
      
      <div class="col-sm-3" ng-show="jUserTable.rows.length > 0">
        <input type="text"
                class="form-control"  
                placeholder="{{ 'Filter' | translate }}"
                ng-model="userFilter" />
      </div>

      <div class="fr select-action">

        <span ng-show="jUserTable.rows.length > 0">
        <button class="btn btn-default"
                
                ng-hide="denied('edit_jobs')"
                ng-disabled="!jUserTable.chosenRow || jUserTable.working" 
                ng-click="setJenkinsUser()">
          <i class="icon-pencil" ng-hide="jUserTable.working"></i>      
          <i class="icon-spinner icon-spin" ng-show="jUserTable.working"></i>      
          {{ 'Set Jenkins User' | translate }}
        </button>
        </span>

        <button class="btn btn-default"
                ng-hide="denied('edit_jobs')"
                ui-sref="jobs.details.jenkins-users.new">
          <i class="icon-file-alt"></i>      
          {{ 'New Jenkins User' | translate }}
        </button>
      </div>
    </div>

    <div bst-table="jUserTable" class="nutupane" ng-show="jUserTable.rows.length > 0">
      <div bst-container-scroll bst-infinite-scroll="jUserTable.nextPage()">
  
        <table
               ng-class="{'table-mask': jUserTable.working}"
               class="table table-full table-striped">

          <thead>
            <tr bst-table-head row-choice="jenkinsUser">
              <th bst-table-column="name" translate>Name</th>
              <th bst-table-column="action" translate>Action</th>
            </tr>
          </thead>

          <tbody>
            <tr bst-table-row ng-repeat="jenkinsUser in jUserTable.rows | filter:userFilter" row-choice="jenkinsUser">
              
              <td bst-table-cell>
                <a ui-sref="content-views.details.info({ jenkinsUserId: jenkinsUser.id })">
                  {{ jenkinsUser.name }}
                </a>
              </td>

              <td bst-table-cell>
                <a href="#" ng-click="delete(jenkinsUser)">
                  Delete
                </a>
              </td>

            </tr>
          </tbody>

        </table>
      </div>
    </div>
  </section>

  <div ng-show="jUserTable.rows.length === 0">
    <div class="loading-mask" ng-show="jUserTable.working">
      <i class="icon-spinner icon-spin"></i>
        {{ "Loading..." | translate }}          
    </div>

    <p class="alert alert-info"
       ng-hide="jUserTable.working"
       translate> No Jenkins Users to show.
    </p>
  </div>

</section>