<span page-title ng-model="job">{{ 'Job: ' | translate }}</span>

<section class="nutupane-subsection">
  <div alch-alert success-messages="successMessages" errorMessages="errorMessages"></div>

  <h4>
    <span translate>Current Hostgroup: </span>
    <a ng-click="transitionToHostgroup(job.hostgroup)" ng-show="job.hostgroup.name">
      <span class="no-capitalize"  ng-bind="job.hostgroup.name"></span>
    </a> 
    <span class="no-capitalize" ng-show="!job.hostgroup.name" translate>none</span>
  </h4>

  <div class="nutupane-bar">
    <div class="col-sm-3">
      <input type="text"
             class="form-control"
             placeholder="{{ 'Filter' | translate }}"
             ng-model="hostgroupFilter" />
    </div>

    <div class="fr select-action">
      <span class="nutupane-info">
      <!-- TODO?: unchoose chosen item -->
      </span>
        <button class="btn btn-default"
                ng-hide="edit_jobs"
                ng-disabled="!hostgroupsTable.getChosen() || hostgroupsTable.working"
                ng-click="setHostgroup()">
          <i class="icon-pencil"></i>
          {{ 'Set Hostgroup' | translate }}
        </button>
      
    </div>
  </div>

  <div alch-table="hostgroupsTable" class="nutupane">
    <div alch-container-scroll alch-infinite-scroll="hostgroupsTable.nextPage()">
      
      <div ng-show="hostgroupsTable.rows.length === 0">
        <div class="loading-mask" ng-show="hostgroupsTable.working">
          <i class="icon-spinner icon-spin"></i>
            {{ "Loading..." | translate }}
        </div>

        <p class="alert alert-info"
           ng-hide="hostgroupsTable.working"
           translate> No Hostgroups to show.          
        </p>        
      </div>

      <table ng-show="hostgroupsTable.rows.length > 0"
             ng-class="{'table-mask': hostgroupsTable.working}"
             class="table table-striped table-full">

        <thead>
          <tr alch-table-head row-choice="hostgroup">
            <th alch-table-column="name" translate>Name</th>
            <th alch-table-column="created_at" translate>Created at</th>
          </tr>
        </thead>

        <tbody>
          <tr alch-table-row ng-repeat="hostgroup in hostgroupsTable.rows | filter:hostgroupFilter" row-choice="hostgroup">
            
            <td alch-table-cell>
              <a ng-click="transitionToHostgroup(hostgroup)">
                {{ hostgroup.name }}
              </a>
            </td>
            <td alch-table-cell>{{ hostgroup.created_at }}</td>

          </tr>
        </tbody>
        
      </table>
    </div>
  </div>
</section>