<section class="nutupane-details" ng-cloak bst-container-scroll>

  <header class="new-header details-header">
    
    <a href="" ng-click="transitionBack()">
      <i class="icon-double-angle-left"></i>
      {{ "Back" | translate }}
    </a>
    <h4 class="fl" translate>Jenkins Projects</h4>

    <div class="fr">
      <button class="btn btn-default" ui-sref="job.details.info">
        <i class="icon-remove"></i>
        {{ "Close" | translate }}
      </button>
    </div>
  </header>

  <div ui-view></div>

</section>
