<form name="jobForm" class="form-horizontal" novalidate role="form">
  <div bst-form-group label="{{ 'Name' | translate }}">
    <input id="name"
           name="name"
           ng-model="job.name"
           type="text"
           tabindex="1"
           autofocus
           required/>
  </div>

  <div bst-form-group label="{{ 'Manual Job runs?' | translate }}">
    <input id="manual_trigger"
           name="manual_trigger"
           ng-model="job.manual_trigger"
           type="checkbox"/>
  </div>

  <div bst-form-group label="{{ 'CV promote/publish Job runs?' | translate }}">
    <input id="levelup_trigger"
           name="levelup_triger"
           ng-model="job.levelup_trigger"
           type="checkbox"/>
  </div>

  <div bst-form-group label="{{ 'Repo sync Job runs?' | translate }}">
    <input id="sync_trigger"
           name="sync_trigger"
           ng-model="job.sync_trigger"
           type="checkbox"/>
  </div>

  <div bst-form-group label="{{ 'Promote CV?' | translate }}">
    <input id="promote"
           name="promote"
           ng-model="job.promote"
           type="checkbox"/>
  </div>



  <div bst-form-buttons
        on-cancel="transitionBack()"
        on-save="createJob(job)"
        working="working">
  </div>
</form>