<span page-title ng-model="jenkinsUser">{{ 'Jenkins Instance: ' | translate }}{{ jenkinsUser.name }}</span>

<div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>

<div class="details fl">
  <section>
    <div class="row">
      <div class="col-sm-5">
        <a href="" ui-sref="jenkins-instances.details.users.list({
                             jenkinsInstanceId: jenkinsInstanceId})">
        <i class="fa fa-angle-double-left"></i>
        {{ "Back" | translate }}
        </a>
      </div>
    </div>

    <h4 translate>Basic User Information</h4>

    <div class="detail">
      <span class="info-label" translate>Name</span>
      <span class="info-value">{{ jenkinsUser.name }}</span>
    </div>

    <div class="detail">
      <span class="info-label" translate>Token</span>
      <span class="info-value"
            bst-edit-text="jenkinsUser.token"
            on-save="save(jenkinsUser)">
      </span>
    </div>

        <p class="alert alert-info" translate>
          The token is not displayed for security reasons. Type in the new one or leave blank to keep the current token.
        </p>

  </section>
</div>
