<p bst-alert="info" ng-show="jobsTable.rows.lenght === 0 && !jobsTable.working">
  <span translate>
    You currently do not have any Jobs. You can add Jobs using the button on the right.
  </span>
</p>

<table class="table table-striped"
        ng-class="{'table-mask' : jobsTable.working}"
        ng-show="jobsTable.rows.length > 0">
  <thead>
    <tr bst-table-head row-select>
      <th bst-table-column="name" sortable><span translate>Name</span></th>
      <th bst-table-column="content_view"><span translate>Content View</span></th>
      <th bst-table-column="hostgroup"><span translate>Hostgroup</span></th>
      <th bst-table-column="environment"><span translate>Environment</span></th>
      <th bst-table-column="jenkinsInstance"><span translate>Jenkins Instance</span></th>
    </tr>
  </thead>

  <div data-extend-template="layouts/select-all-results.html"></div>

  <tbody>
    <tr bst-table-row ng-repeat="job in jobsTable.rows" row-select="job">
      <td bst-table-cell>
        <a ui-sref="jobs.details.info({jobId: job.id})">
          <div>{{ job.name }}</div>
        </a>
      </td>
      <td bst-table-cell>
        <a ng-show="{{ job.content_view !== null }}"
           ui-sref="content-views.details.info({ contentViewId: job.content_view.id })">
          <div>{{ job.content_view.name }}</div>
        </a>
        <div ng-show="{{ job.content_view === null }}" translate>none</div>
      </td>
      <td bst-table-cell>
        <a ng-show="{{ job.hostgroup !== null }}"
           ng-click="transitionToHostgroup(job.hostgroup)">
          <div>{{ job.hostgroup.name }}</div>
        </a>

        <div ng-show="{{ job.hostgroup === null }}" translate>none</div>

      </td>
      <td bst-table-cell>
        <a ng-show="{{ job.environment !== null }}"
           ui-sref="environments.environment.details({ environmentId: job.environment.id })">
          <div>{{ job.environment.name }}</div>
        </a>

        <div ng-show="{{ job.environment === null }}" translate>none</div>

      </td>
      <td bst-table-cell>
        <a ng-show="{{ job.jenkins_instance !== null }}"
           ui-sref="jenkins-instances.details.info({ jenkinsInstanceId: job.jenkins_instance.id })">
          <div>{{ job.jenkins_instance.name }}</div>
        </a>

        <div ng-show="{{ job.jenkins_instance === null }}" translate>none</div>

      </td>
    </tr>
  </tbody>
</table>
