<div bst-alerts success-messages="successMessages" error-messages="errorMessages"></div>
<form name="jenkinsInstanceForm" class="form-horizontal" novalidate role="form">
  <div bst-form-group label="{{ 'Name' | translate }}">
    <input id="name"
           name="name"
           ng-model="jenkinsInstance.name"
           type="text"
           tabindex="1"
           autofocus
           required/>
  </div>

  <div bst-form-group label="{{ 'Url' | translate }}">
    <input id="url"
           name="url"
           ng-model="jenkinsInstance.url"
           type="text"
           tabindex="2"           
           required/>
  </div>
  <div bst-form-group>   
    <p class="alert alert-info" translate>
      Make sure to specify the port Jenkins master is running on. Example: http://jenkins.example.com:8080
    </p>     
  </div>

  <div bst-form-group label="{{ 'Jenkins Home' | translate }}">
    <input id="jenkins_home"
           name="jenkins_home"
           ng-model="jenkinsInstance.jenkins_home"
           type="text"
           tabindex="3"
           required/>
  </div>

  <div bst-form-group label="{{ 'Certificate Path' | translate }}">
    <input id="cert_path"
           name="cert_path"
           ng-model="jenkinsInstance.cert_path"
           type="text"
           tabindex="4"
           required/>
  </div>

  <div bst-form-buttons
        on-cancel="transitionBack()"
        on-save="createJenkinsInstance(jenkinsInstance)"
        working="working">
  </div>
</form>